/* navbar */
.color-navbar {
    background-color: #102457;
}
.logo-text {
    width: 9rem;
    font-size: 10px;
    font-weight: bolder;
}

@media screen and (min-width: 992px) {
    .border-login {
        border-right: 1px solid white;
    }
  }

/* end navbar */

/* card */

.color-subjudul {
    color: #102457;
}

.width-card {
    width: 18rem;
}
.card-stemple {
    background-color: #0B7CF3;
    margin-left: -17px;
    color: white;
    width: 150px;
    text-align: center;
    padding: 3px 0;
    position: relative;
}
.oval {
    height: 30px;
    width: 30px;
    background: #0B7CF3;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 133px; top: 129px;
}
.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.distance {
    margin-top: -15px
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .width-card {
        width: 15rem;
    }
    .oval {

        left: 133px; top: 110.5px;
    }
}



/* endcard */

/* login */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* end login */
