html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root{
    --primary-color: #14C38E;
    --primary-color2: #00e498;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #ffffff17;
    --gradient-color: linear-gradient(60deg, #14C38E 0%, #00FFAB 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


    /* font family variables. */
    --roboto: 'Roboto', cursive;
}









/* End Banner Area */






/* Services Area */





.site-main  h1{
    font-size: 35px;
}



/* End Services Area */


/* Project Area */



.site-main .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .button-group button + button{
    padding-left: 3rem;
}

.site-main .grid > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .grid .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */


/* About Me */

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}



.site-main .about-area  .client-img{
    padding: 2rem;
}

.site-main .about-area  .about-client{
    padding-top: 2rem;
}

.site-main .about-area  .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .about-client p{
    font-size: 14px;
}



.site-main .about-area .active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */

/* Subscribe me */

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 7rem 0;
    margin: 3rem auto;
}
@media only screen and (min-width: 1000px) {
    .site-main .subscribe-us-area .subscribe{
        background: url(../img/subscribe-bg.png) no-repeat;
        padding: 7rem 0;
        margin: 3rem auto;
        width: 75%;
    }
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */





/* global css */


/* Global Classes */

.title-text{
    font: normal bold 50px/ 72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}


.card-hover:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.04);
    transition: .25s ease;
}
.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }
