/* banner area */

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 700;
}


.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .site-title h6{
    font-size: 1.5rem;
    font-weight: 700;
}

.site-main .site-banner .site-title p{
    font-size: 1.1rem;
    font-weight: 500;
}

.site-main .site-banner .banner-image > img{
    padding: 2rem 0;
    width: 90rem;
}
