/* banner area */

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 700;
}


.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .site-title h6{
    font-size: 1.5rem;
    font-weight: 700;
}

.site-main .site-banner .site-title p{
    font-size: 1.1rem;
    font-weight: 500;
}

.site-main .site-banner .banner-image > img, svg{
    padding: 2rem 0;
    width: 90rem;
}

#card-bag, #card-baju, #persen, #kado, #email{
    animation: bag 2s infinite ease-out alternate-reverse;
    transform-origin: center;
    transform-box: fill-box;

}

#tab, #vas-flower {
    animation: tab 2s infinite ease-out alternate-reverse;
    transform-origin: top;
}

#card1, #card-bl-1 {
    animation: card1 2s infinite alternate-reverse;
}

#card-bl-2, #card2{
    animation: card-bl  2s infinite alternate-reverse;
}

@keyframes bag {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes tab {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
        
    }
}

@keyframes card1 {
    from{
        transform: translate(0px);
    }
    to {
        transform: translate(-80px, 0px);
    }
}

@keyframes card-bl {
    from{
        transform: translate(0px);
    }
    to {
        transform: translate(80px, 0px);
    }
}