/* banner area */

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 700;
}


.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .site-title h6{
    font-size: 1.5rem;
    font-weight: 700;
}

.site-main .site-banner .site-title p{
    font-size: 1.1rem;
    font-weight: 500;
}

.site-main .site-banner .banner-image > img, svg{
    padding: 2rem 0;
    width: 90rem;
}

#card-bag, #card-baju, #persen {
    animation: bag 2s infinite ease-out alternate-reverse;
    transform-origin: center;
    transform-box: fill-box;

}

/* #she {
    animation: she-anim 0.1s ease-in-out infinite;
    transform-origin: bottom;
} */

@keyframes bag {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/* @keyframes she-anim {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
} */